
header{
    background-color:#2a636d;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center justify ;
    padding: 25px;
    
    
    

}
#sobre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    text-align: justify ;
    align-items:center;
    padding: 0px 20px 20px;
    background-color:#ffffff;
    color: #2a636d;


}
#formacao_academica{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    text-align: justify ;
    align-items:center;
    padding: 0px 20px 20px;
    background-color:#ffffff;
    color: #2a636d;


}
#informatica{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    text-align: justify ;
    align-items:center;
    padding: 0px 2px 2px;
    color: #2a636d;


}
#formacao_complementar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    text-align: justify ;
    align-items:center;
    padding: 0px 20px 20px;
    background-color:#ffffff;
    color: #2a636d;


}
#formacao_complementar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    text-align: justify ;
    align-items:center;
    padding: 0px 20px 20px;
    background-color: #ffffff;
    color: #2a636d;


}
#cursos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    text-align: justify ;
    align-items:center;
    padding: 0px 20px 20px;
    background-color:#ffffff;
    color: #2a636d;


}




#rodape{
    background-color:#2a636d;
    color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 3px;
    flex-direction: column;


}


h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    background-color: #606066;
    color:#ffffff;
    text-decoration: #ffffff;
    width: 100%;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;

}
.menu ul{
    list-style: none;
    position: fixed;
}
.menu ul li{
    width: 140px;
    float: left;
    text-align: center;
}
.menu ul li:hover ul {
    visibility: visible;

}
.menu a:hover{
    background-color:#2a636d;
    color:#ffffff;
    opacity: 50pt .4s;



}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px #ccc;
    text-decoration: #ffffff;
}
.menu ul ul li a{
background-color: #ffffff;
color: #2a636d;
text-decoration: none;

}
.menu ul li:hover{
background-color: #606060;
color: #2a636d;
height: 23px  ;
text-decoration: none;


}
.menu a{
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
display: block;
padding: 2px;
height: 23px;


}
#bt_menu{
display: none;
color: #ffffff;

}
label[for="bt_menu"]{
padding: 5px;
font-family: 'Times New Roman', Times, serif;
font-size: 29pt;
cursor: pointer;
width: 50px;
height: 50px;
Margin-top:30px;
right: 0;
position: fixed;
transition: 100%;
color:#ffff;
}
label[for="bt_menu"]{
display: none;
}
@media(max-width: 800px){
label[for="bt_menu"]{
    display: block;
}
#bt_menu:checked  ~ .menu{
    margin-left: 0;
    
    
}
.menu{
    margin-top: 83px;
    margin-left: 130%;
    transition: all .3s;



}
.menu ul li:hover a{
    height: auto;
    max-height: 200px;
}


}
.projetos{
    display: flex;
    flex-direction: column;
    text-align: justify ;
    align-items:center;
    background-color: #ffffff;

    

}
#contato{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
}
